.App {
  text-align: center;
  margin-top: 100px;
}
td{
  white-space: pre;
  text-align: left;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#temp {
  text-align: center;
  padding: 0.3em;
  color: white;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 0.1em;
}
.App-Compponent {
  margin: 150px auto 0 auto;
  width: 600px;
}